<launch>

 <!-- control node -->  
	<node name="oea_controller" pkg="oea_controller" type="oea_controller" output="screen">
	 
	 <!-- simulation and real robot -->
	   <remap from="/cmd_vel" to="/guardian/cmd_vel"/>
	   <remap from="/front_laser_scan" to="/guardian/laser_tilt_front"/>
	   <remap from="/back_laser_scan" to="/guardian/laser_horizontal_back"/> 

		<rosparam file="$(find oea_controller)/launch/params/params_sim_tracks.yaml" command="load" />

	</node> 


 <!-- draw robot trajectory -->  
   <!--	<node pkg="hector_trajectory_server" type="hector_trajectory_server" respawn="false" name="hector_trajectory_server" output="screen">
		<param name="target_frame_name" value="map" />
		<param name="source_frame_name" value="base_footprint" />
		<param name="trajectory_update_rate" value="3" />
		<param name="trajectory_publish_rate" value="1" />
	</node>	 -->

</launch>

